body {
    background-color: rgba(1, 1, 1, 0.759);
    font-family: 'Montserrat', sans-serif;
}

/* google fonts for h1 */
#h1-font {
    color: coral;
    font-family: 'Satisfy', cursive;
}

/* banner section style */
.banner-image {
    background-image: linear-gradient(rgba(167, 231, 216, 0.192), rgba(230, 82, 200, 0.219)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}